/*Nivel_8*/
.tower-group-1 {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column-reverse;
    }
    .tower-group-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    }